/* Copyright (C) 2026 Qore Technologies, s.r.o. */

/** @page ziplicenseguide License

    @tableofcontents

    The zip module is released under the MIT license. Its private minizip-ng implementation
    is distributed under the zlib license; the source component retains its license notice.

    Copyright (C) 2026 Qore Technologies, s.r.o.
*/
